# OSX noise
.DS_Store
*.zip
./git/*

#xcode
build/
xcuserdata/
*.pbxuser
*.mode1
*.mode1v2
*.mode1v3

Reveal.framework
*.xcworkspace
DerivedData
*.ipa

#third party static library
#libs/

#pod
Pods
Podfile.lock
